/* Questão 1 */
.page-wrapper {
    position: relative;

}

/* Questão 2 */
.explanation {
    margin-right: 35%;
    width: 60%;
    border-right: solid; 
    border-color: #1f295c;
    border-width: 1px;
    padding-right: 2%;
}
/* Questão 3 */
#design-selection {
    position: absolute;
    top: 300px;
    left: 62%;
    padding-right: 1%;
    padding-left: 1%;
}