/* Flexbox */
.supporting footer{
    display:flex;
    justify-content: space-around;

}

.benefits {
    display: flex;
    border-top: black solid 1px;
}

.benefits h3 {
    order: 2;
    flex-basis: 30%;
    align-self: center;
}

.benefits p {
    flex-basis: 70%;
}

.participation {
    display: flex;
    flex-wrap: wrap;
    border-top: black solid 1px;
}

.participation h3, .participation p {
    flex-basis: 50%;
}

.participation h3 {
    align-self: center;
}